{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Main page</title>

    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'starships/css/main_page.css' %}">

    {% comment %} logo {% endcomment %}
    <link rel="icon" href="{% static 'starships/img/logo.jpg' %}"> 
</head>
<body>
    {% comment %} side menu {% endcomment %}
    <aside>
        <span class="aside_title">starships list</span>
        <ul>
            <a href="{% url 'starship' %}">starship1 name</a>
            <a href="{% url 'starship' %}">starship2 name</a>
            <a href="{% url 'starship' %}">...</a>
        </ul>
    </aside>

    <main>

        <img src="{% static 'starships/img/aside.jpg' %}" alt="aside">

    </main>

</body>
</html>