{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ starship.name }}</title>

    {% comment %} css {% endcomment %}
    <link rel="stylesheet" href="{% static 'starships/css/starship.css' %}">

    {% comment %} logo {% endcomment %}
    <link rel="icon" href="{% static 'starships/img/logo.jpg' %}"> 
</head>
<body>
    <h1>{{ starship.name }}</h1>
    <ul>
        <li>Model: {{ starship.model }}</li>
        <li>Manufacturer: {{ starship.manufacturer }}</li>
        <li>Cost: {{ starship.cost_in_credits }}</li>
    </ul>
</body>
</html>